<section class="background">
    <div class="space space-1"></div>
    <div class="space space-2"></div>
    <div class="space space-3"></div>
</section>

<style>
    .background {
        background-image: linear-gradient(#051327, #000);
        position: fixed;
        inset: 0;
        z-index: -1;
    }
    .space {
        width: var(--size);
        height: var(--size);
        background-color: #fff;
        box-shadow: var(--space-layer);
        position: absolute;
        top: 0;
        left: 0;
        opacity: 55%;
        animation: moveStars var(--duration, 20s) linear infinite;
    }
    @keyframes moveStars {
        from {
            transform: translateY(0);
        }
        from {
            transform: translateY(-100vh);
        }
    }
</style>

<script>
    function generateSpaceLayer({ size, selector, totalStars, duration }:{size: string, selector: string, totalStars: number, duration: string}) {
        console.log("Hola perro");
        const container = document.querySelector(selector);
        const layer = [];
        for (let i = 0; i < totalStars; i += 1) {
            const x = Math.floor(Math.random() * 100);
            const y = Math.floor(Math.random() * 100);
            layer.push(`${x}vw ${y}vh 0 white, ${x}vw ${y + 100}vh 0 white`);
        }
        container.style.setProperty("--space-layer", layer.join(","));
        container.style.setProperty("--size", size);
        container.style.setProperty("--duration", duration);
    }
    generateSpaceLayer({
        size: "2px",
        selector: ".space-1",
        totalStars: 200,
        duration: "20s",
    });
    generateSpaceLayer({
        size: "4px",
        selector: ".space-2",
        totalStars: 100,
        duration: "25s",
    });
</script>
